* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul,li {
	list-style: none;
}
h1 {
	text-align: center;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	height: 100vh;
	width: 100%;
	background-color: #6a5be2;
  display: flex;
  align-items: center;
  justify-content: center;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
	&:after {
    content: '';
    display: block;
    height: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
		width: 98%;
    bottom: 38px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
		@media screen and (max-width: 560px) {
			display: none;
	
		}
  }
}
.App {
	min-width: 500px ;
	min-height: 300px;
	background-color: white;
	border-radius: 15px;
	padding: 40px;
	@media screen and (max-width: 560px) {
		min-width: 90%;
    padding: 30px;
    margin: 20px;

	}
	
	.result {
		display: flex;
		flex-direction: column;
		align-items: center;
		img {
			width: 150px;
		}
		button {
      font-weight: bold;
      border-radius: 15px;
      border: none;
      padding: 15px 30px;
      font-size: 20px;
      background-color:#ff006e;
      color: #fff;
      margin-top: 20px;
      cursor: pointer;
    }
	}

	.quiz {
		height: 10px;
    border-radius: 30px;
    background-color: rgb(232, 232, 232);
    margin-bottom: 25px;

    &__inner {
      height: 100%;
      border-radius: 30px;
      width: 80%;
      background: rgb(18, 231, 48);
      transition: all 0.3s ease-in-out;
      background: linear-gradient(90deg, rgba(18, 231, 48, 1) 0%, rgba(0, 212, 255, 1) 100%);
    }

		ul {
			list-style: none;
			padding: 0;
	
			li {
				padding: 15px;
				border: 2px solid rgba(0, 0, 0, 0.1);
				border-radius: 15px;
				margin-bottom: 10px;
				cursor: pointer;
				transition: all 0.1s ease-in-out;
	
				&:hover {
					border: 2px solid rgba(0, 0, 0, 0.3);
				}
			}
		}
	}

}